html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: monospace;
}

body {
  margin: 0;
  height: 100vh;
  display: auto;
  align-items: center;
}

:root {
  --keyboard: hsl(300, 100%, 16%);
  --keyboard-shadow: hsla(19, 50%, 66%, 0.2);
  --keyboard-border: hsl(20, 91%, 5%);
  --black-10: hsla(0, 0%, 0%, 0.1);
  --black-20: hsla(0, 0%, 0%, 0.2);
  --black-30: hsla(0, 0%, 0%, 0.3);
  --black-50: hsla(0, 0%, 0%, 0.5);
  --black-60: hsla(0, 0%, 0%, 0.6);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-80: hsla(0, 0%, 100%, 0.8);
}

.white,
.black,
.num {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  user-select: none;
  cursor: pointer;
}

#keyboard li:first-child {
  border-radius: 5px 0 5px 5px;
}

#keyboard li:last-child {
  border-radius: 0 5px 5px 5px;
}

.white {
  height: 19rem;
  width: 6rem;
  z-index: 0;
  border-left: 1px solid hsl(263, 91%, 13%);
  border-right: 1px solid hsl(263, 91%, 13%);
  border-bottom: 1px solid hsl(263, 91%, 13%);
  border-top: 1px solid hsl(263, 91%, 13%);
  border-radius: 0 0 5px 5px;
  box-shadow: 1px solid hsl(263, 91%, 13%);
  background: hsl(267, 65%, 90%);
}

.black {
  height: 12rem;
  width: 3rem;
  margin: 0 0 0 -2rem;
  z-index: 1;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
  background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%);
  color: var(--white-50);
}

.white.pressed {
  border-top: 1px solid hsl(0, 27%, 91%);
  border-left: 1px solid hsl(0, 25%, 97%);
  border-bottom: 1px solid hsl(0, 20%, 91%);
  box-shadow: 2px 0 3px var(--black-10) inset,
    -5px 5px 20px var(--black-20) inset, 0 0px 3px var(--black-20);
  background: linear-gradient(to bottom, white 0%, hsl(0, 0%, 91%) 100%);
  outline: none;
}

.black.pressed {
  box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -2px 2px 3px var(--black-60) inset, 0 1px 2px var(--black-50);
  background: linear-gradient(
    to right,
    S hsl(0, 0%, 27%) 0%,
    hsl(0, 0%, 13%) 100%
  );
  outline: none;
}

.num {
  height: 6rem;
  width: 3rem;
  z-index: 1;
  border-left: 1px solid hsl(309, 20%, 86%);
  border-bottom: 1px solid hsl(315, 13%, 81%);
  border-top: 1px solid hsl(318, 36%, 87%);
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 hsl(234, 70%, 64%) inset,
    0 0 5px hsl(234, 70%, 64%) inset, 0 0 3px var(--black-30);
  background: hsl(234, 70%, 64%);
}

.offset {
  margin: 0 0 0 -1rem;
}
