h1 {
  position: relative center;
  background-color: hsl(267, 65%, 90%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Georgia;
  padding: 10rem 0;
  width: 24000px;
  line-height: 2rem;
  border-style: groove;
  border-width: 0.5rem;
  border-color: rgb(43, 23, 99);
  text-align: center;
}

h2 {
  position: relative left;
  text-align: left;
}

h3 {
  position: relative right;
}

h4 {
  position: center center;
}
